@import "src/utils";

.linkWrapper {
    width: 100%;
    height: 100%;
}

.item {
    @include word-wrap;
    @include shadow;
    @include shadowFocus;
    background: var(--card-background);
    color: var(--text-on-card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.boardGameName {
    @include ellipsis;
}
