@import "src/variables";
@import "src/utils";

.formWrapper {
    @include mobileFullScreen;
}

.opponentName {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 4px;
    background: var(--primary-color-light);
    color: var(--primary-color);
}

@media (min-width: $medium) {
    .formWrapper {
        width: 50%;
        margin-top: 0;
        margin-left: 0;
    }
}
