@import "src/variables";
@import "src/utils";

$borderRadius: 8px;
$cardPadding: 24px;

.formWrapper {
    @include softShadow;
    background: var(--card-background);
    border-radius: $borderRadius;

    & > * {
        padding-left: $cardPadding;
        padding-right: $cardPadding;
        padding-bottom: $cardPadding;
    }
}

.header {
    padding-top: 24px;
    color: var(--card-form-header-text);
    background: var(--card-form-header-backgrund);
    margin: 0 0 $cardPadding 0;
    font-size: 16px;
    font-weight: 900;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}

@media (min-width: $medium) {
    .formWrapper {
        width: 50%;
    }
}
