### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml
.idea/

### Frontend ###
**/node_modules
**/npm-debug.log*


**/target/
/lib
/out
backend/lib/
**/build
**/coverage
frontend/build

**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

jenkins-sources

