### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml
.idea/
.run


**/target/
/lib
/out
**/build
**/coverage

**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

jenkins-sources

