.existingUserName {
    color: var(--secondary-text-on-card);
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.existingUserWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & svg {
        color: var(--secondary-text-on-card);
        margin-left: 4px;
        width: 12px;
        height: 12px;
    }
}
