.input {
    padding: 13px 16px;
    font-size: 14px;
    line-height: 14px;
    color: #1A3349;
    border-radius: 2px;
    transition: border-color .2s ease-in-out;
    border: 1px solid var(--input-border-normal);
    background: #F8F9FC;
    opacity: .9;
    width: 100%;

    &:focus {
        border-color: var(--input-border-focus);
    }

    &::placeholder {
        color: #9DA2BD;
    }
}
