@import "src/variables";

.wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 16px;

    &.error {
        & .label {
            color: var(--error-color) !important;
        }
        & .input {
            border: 1px solid var(--error-color) !important;
            animation: shake 0.5s ease-in-out;
        }

        & svg {
            color: var(--error-color);
        }
    }

    &.normal {
        --input-padding: 20px 16px 13px;
    }
    &.small {
        --input-padding: 8px 8px;

        & .input {
            min-height: initial;
        }

    }
}

.input {
    padding: var(--input-padding);
    font-size: 14px;
    line-height: 14px;
    color: var(--input-text);
    border-radius: 4px;
    transition: border-color .2s ease-in-out;
    border: 1px solid var(--input-border-normal);
    background: var(--input-background);
    opacity: .9;
    width: 100%;
    resize: vertical;
    min-height: var(--input-min-height);

    &:focus {
        border-color: var(--input-border-focus);
    }

    &:focus + .label {
        @extend .labelUp
    }

    &::placeholder {
        color: var(--input-placeholder);
    }
}

$iconSize: 16px;
$iconMargin: 12px;


.icon {
    position: absolute;
    width: $iconSize;
    height: $iconSize;
    color: var(--input-text);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.actionIcon {
    @extend .icon;
    right: $iconMargin;
    cursor: pointer;
}

.frontIcon {
    @extend .icon;
    left: $iconMargin;
}

.frontIcon ~ .input {
    padding-left: $iconSize + $iconMargin * 2;
}

.frontIcon ~ .errorMessage {
    padding-left: $iconSize + $iconMargin * 2;
}

.actionIcon ~.input {
    padding-right: $iconSize + $iconMargin * 2;
}

.label {
    position: absolute;
    left: $iconSize;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all ease-in-out;
    color: var(--input-text-muted);
}

.frontIcon ~ .label {
    left: $iconSize + $iconMargin * 2;
}

.labelUp {
    font-size: 12px;
    top: 2px;
    transform: none;
    font-weight: bold;
    color: var(--input-text);
}

.errorMessage {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 14px;
    color: var(--error-color);
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media (min-width: $medium) {
    .input {
        resize: both;
    }
}
