.wrapper {
    width: 100%;
    position: relative;
}

.input {
    padding: 20px 16px 13px;
    font-size: 14px;
    line-height: 14px;
    color: var(--input-text);
    border-radius: 2px;
    transition: border-color .2s ease-in-out;
    border: 1px solid var(--input-border-normal);
    background: #F8F9FC;
    opacity: .9;
    width: 100%;

    &:focus {
        border-color: var(--input-border-focus);
    }

    &:focus + .label {
        @extend .labelUp
    }

    &::placeholder {
        color: #9DA2BD;
    }
}

:root {
    --icon-size: 16px;
    --icon-margin: 12px;
}

.icon {
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--input-text);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.actionIcon {
    @extend .icon;
    right: var(--icon-margin);
    cursor: pointer;
}

.frontIcon {
    @extend .icon;
    left: var(--icon-margin);
}

.frontIcon ~ .input {
    padding-left: calc(var(--icon-size) + var(--icon-margin) * 2);
}

.actionIcon ~.input {
    padding-right: calc(var(--icon-size) + var(--icon-margin) * 2);
}

.label {
    position: absolute;
    left: calc(var(--icon-size) + var(--icon-margin) * 2);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all ease-in-out;
    color: var(--input-text-muted);
}

.labelUp {
    font-size: 12px;
    top: 2px;
    transform: none;
    font-weight: bold;
    color: var(--input-text);
}
