@import "src/variables";

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    & thead {
        & th {
            padding-bottom: 16px;
        }

        .pointsHeader {
            width: 80px;
        }

        .actionsHeader {
            width: 32px;
        }
    }

    & tbody {
        & tr {
            border-top: 1px solid var(--card-form-header-backgrund);
        }

        & td {
            min-height: 96px;
            vertical-align: center;
            width: 100%;
            text-align: center;
            padding: 8px 8px;
        }

        .actionsCell {
            padding: 0;

            & svg {
                color: var(--secondary-text-on-card) !important
            }
        }
    }
}

.opponentInfoCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointsInput {
    margin-bottom: 0;
}

@media (min-width: $medium) {
    .table {
        & thead {
            & th {
                padding-bottom: 16px;
            }

            .pointsHeader {
                width: auto;
            }
        }

        & tbody {
            input {
                width: 100px;
            }
        }


    }
}
