@import "src/utils";

.titleMoreWrapper {
    display: flex;
    margin-bottom: 16px;
}

.title {
    margin: 0;
}

.more {
    color: var(--primary-color);
    font-size: 11px;
    display: flex;
    align-items: center;
    margin: 0 0 0 8px;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    background: transparent;
    border: none;
}

.frequentOpponentsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;

    & > *:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 8px;
    }
}
