.playAdded {
    width: 100%;

    .actionButtons {
        margin-top: 16px;
        display: flex;

        & > * + * {
            margin-left: 8px;
        }
    }

    .info {
        .bold {
            font-weight: 900;
        }
    }
}
