.radioGroup {
    display: flex;
    margin-top: 24px;
}

.existingUserWrapper {
    margin-top: 24px;
    opacity: 0;
    transition: all .2s ease-in-out;
    transform: scaleY(0);
    transform-origin: 100% 0;

    &.visible {
        opacity: 1;
        transform: scaleY(1);
    }
}

.buttons {
    margin-top: 24px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    & > * {
        width: 120px;
        margin-left: 8px;
    }
}

.existingUserExplanation {
    color: var(--secondary-text-on-card);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 20px;
}
