@import "src/variables";
@import "src/utils";

.notificationMenu {
    background: var(--surface-color);
    color: var(--secondary-text-on-card);
    @include shadow;
    border-radius: 8px;
    padding: 8px;
}

.link {
    width: 100%;
    height: 100%;
}

.menuItem {
    transition: all 0.3s ease-in-out;
    padding: 12px 12px;
    border-radius: 8px;

    svg {
        transition: color 0.3s ease-in-out;
        width: 16px;
        height: 16px;
        color: var(--secondary-text-on-card);
        margin-right: 12px;
    }

    &:hover,
    &:focus {
        background: var(--background-color);
        color: var(--background-contrast);

        svg {
            color: var(--background-contrast);
        }
    }
}
