@import "src/variables";

.gameTypeWrapper {
    display: flex;
}

.selectedType {
    border-color: var(--primary-color) !important;

    & svg {
        fill: var(--primary-color) !important;
    }
}

.gameSettingsWrapper {
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 4px;
    }
}

@media (max-width: $small) {
    .gameTypeWrapper {
        & > * {
            flex: 1;
        }
    }
}
