.menu {
    display: flex;
    height: 100%;
    background: var(--nav-solid-color);
    z-index: 10;
    position: relative;
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.15);
}

.menuItem {
    flex: 1;
    height: 100%;
    cursor: pointer;
}

.menuLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & svg {
        width: 20px;
        height: 20px;
        fill: var(--nav-light-color);
        z-index: 2;
    }

    & span {
        transition: font-size .2s linear;
        font-size: 12px;
        color: var(--nav-light-color);
    }


    &.active {
        & svg {
            fill: #fff;
        }
        & span {
            font-size: 14px;
            color: #fff;
        }
    }
}



