@import "src/variables";

.wrapper {
    margin: 16px 0;
}

.buttonsWrapper {
    display: flex;
}

.WIN {
    border-color: var(--win-color) !important;

    & svg {
        animation: winAnimation .3s;
        fill: var(--win-color) !important;
    }
}

.DEFEAT {
    border-color: var(--defeat-color) !important;

    & svg {
        animation: defeatAnimation .3s;
        fill: var(--defeat-color) !important;
    }
}

@media (max-width: $small) {
    .buttonsWrapper {
        & > * {
            flex: 1;
        }
    }
}

@keyframes winAnimation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg) scale(1.3);
    }
    50% {
        transform: rotate(-5deg) scale(1.2);
    }
    75% {
        transform: rotate(5deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes defeatAnimation {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(2px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }
}
