@import "src/variables";


.navAppWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    padding-bottom: $bottomBarHeight;
    background: var(--light-background);
    z-index: 0;
}

.topNavBar {
    width: 100%;
    height: $bottomBarHeight;
    position: fixed;
    bottom: 0;
    letter-spacing: 1.1px;
}

.childrenWrapper {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: $bottomBarHeight;
}

@media (min-width: $medium) {
    .navAppWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    .childrenWrapper {
        width: 100%;
    }

    .topNavBar {
        width: 260px;
        height: 100%;
        position: relative;
        letter-spacing: initial;
        margin-right: 16px;
    }
}
