.button {
    min-width: 80px;
    height: 40px;
    border: none;
    display: block;
    cursor: pointer;
    padding: 0 16px;
    font-size: 14px;
    letter-spacing: .5px;
    border-radius: 4px;
    font-weight: 500;
    transition: all .2s linear;
    position: relative;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        border: 1px dotted white;
    }

    &[disabled] {
        background: var(--disabled-background) !important;
        color: var(--disabled-text-color) !important;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.insideButton {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & svg {
        margin-right: 8px;
        width: 20px;
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;

    &.primary {
        --ring-loader-color: var(--primary-color);
    }

    &.accent {
        --ring-loader-color: var(--accent-color);
    }
}

.primary {

    &.solid {
        background: var(--primary-color);
        color: var(--text-on-primary);

        &:focus, &:hover {
            background: var(--primary-color-dark);
        }
    }

    &.outlined {
        background: transparent;
        color: var(--primary-color);

        &:focus, &:hover {
            background: var(--primary-color-light);
        }
    }
}

.accent {

    &.solid {
        background: var(--accent-color);
        color: var(--text-on-accent);

        &:focus, &:hover {
            background: var(--accent-color-dark);
        }
    }

    &.outlined {
        background: transparent;
        color: var(--accent-color);

        &:focus, &:hover {
            background: var(--accent-color-light);
        }
    }
}

.fullWidth {
    width: 100%;
}
