.button {
    min-width: 40px;
    height: 44px;
    border: none;
    display: block;
    cursor: pointer;
    padding: 0 16px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    border-radius: 4px;
    font-weight: 500;
    transition: all .2s linear;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        border: 1px dotted white;
    }
}

.primary {
    background: var(--primary-color);
    color: var(--text-on-primary);

    &:focus, &:hover {
        box-shadow: 0 14px 28px #d0d9ee, 0 10px 10px #d0d9ee;
    }
}

.accent {
    background: var(--accent-color);
    color: var(--text-on-accent);
}

.fullWidth {
    width: 100%;
}
