@import "src/variables";
@import "src/utils";

.cardWrapper {
    @include mobileFullScreen;
}

.formWrapper,
.statsWrapper {
    min-width: initial;
    max-width: initial;
    width: 100%;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editButton {
    width: 100%;
}

.opponentName {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 4px;
    background: var(--primary-color-light);
    color: var(--primary-color);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    height: 1px;
    width: 80%;
    background: #eaeaea;
}

@media (min-width: $large) {
    .formWrapper,
    .statsWrapper {
        min-width: 45%;
        max-width: 45%;
        width: initial;
    }

    .contentWrapper {
        flex: 1 1 0px;
        flex-direction: row;
        align-items: initial;
        height: 496px;
    }

    .divider {
        height: 90%;
        width: 1px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .editButton {
        width: 120px;
        margin-left: auto;
        margin-bottom: 16px;
    }
}
