@import "src/variables";

.title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 32px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;


    & > * {
        margin-top: 8px;
    }
}

.button {
    margin-top: 32px;
}

@media (min-width: $large) {
    .loginForm {
        margin-top: -160px;
    }
}
