@import "src/variables";
@import "src/utils";

.formWrapper {
    @include mobileFullScreen;
}

@media (min-width: $medium) {
    .formWrapper {
        width: 50%;
        margin-top: 0;
        margin-left: 0;
    }
}
