@import "src/variables";
@import "src/utils";

.table {
    background: var(--surface-color);
    color: var(--surface-contrast);
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    width: 100%;
    @include shadow;

    thead {
        background: var(--accent-color-light);
        color: var(--accent-color);
        text-align: left;
    }

    & * {
        //border: 1px solid red;
    }

    & tr {
        border-bottom: 1px solid var(--background-color);
    }

    td,
    th {
        padding: 12px;
    }
}

@media (max-width: $small) {
    .table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        & thead {
            display: none;
        }

        & tr {
            @include shadow;
            display: block;
            margin-bottom: 20px;
            background: var(--surface-color);
        }

        & td {
            display: block;
            font-size: 12px;
            text-align: right;
            min-height: 12px;
        }

        & td:before {
            content: attr(data-label);
            float: left;
        }

        & td:last-child {
            border-bottom: 0;
        }
    }
}
