@import "src/utils";

.formWrapper {
    @include mobileFullScreen;
}

.headerWrapper {
    display: flex;
    align-items: center;
}

.headerBoardGame {
    margin-left: 16px;
    max-width: 50%;
    font-weight: bold;
    @include ellipsis;
}
