@import "src/utils";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.namesWrapper {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--primary-text-on-card);
    word-wrap: break-word;
    max-width: 90%;

    & > * {
        margin: 4px 0;
        font-weight: 300;
    }
}

.avatar {
    padding: 12px;
}

