@import "src/utils";
@import "src/variables";

$hideAnimationTime: 125;

//noinspection CssInvalidPseudoSelector,CssUnknownProperty
:export {
    hideAnimationTime: $hideAnimationTime;
}

.dialogWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity #{$hideAnimationTime}ms ease-in-out;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

}

.bodyBlocker {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.dialog {
    @include largeShadow;
    width: 100%;
    max-width: 600px;
    max-height: calc(100% - 96px);
    border-radius: 4px;
    background: var(--card-background);
    color: var(--primary-text-on-card);
}

.dialogTitle {
    padding: 24px 24px 20px;
}

.dialogContent {
    padding: 0 24px 24px;

    & > p {
        margin: 0;
    }
}

.dialogFooter {
    margin: 8px 4px;
}


@media (max-width: $medium)  {
    .mobileFull {
        &.dialogWrapper {
            padding-bottom: 54px;
        }
        & .dialog {
            max-height: 100%;
            height: 100%;
        }
    }
}
