@import "src/variables";

.clickWrapper {
    z-index: 9;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    display: none;

    &.visible {
        display: block;
    }
}

.menu {
    background: var(--light-background);
    position: absolute;
    bottom: $bottomBarHeight;
    width: 100%;
    z-index: 10;
    transition: transform .2s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 100%;

    &.visible {
        transform: scaleY(1);
    }
}

.menuItem {
    display: flex;
    align-items: center;
}

.menuLink {
    display: flex;
    align-items: center;
    padding: 0 12px 0 26px;
    height: 48px;
    width: 100%;

    & svg {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        fill: var(--text-on-light-background);
    }

    & span {
        font-size: 12px;
        color: var(--text-on-light-background);
    }

    &.active {
        background: var(--accent-color-light);

        & span {
            color: var(--accent-color);
        }

        & svg {
            fill: var(--accent-color);
        }
    }
}
