@import "src/variables";

.imageWrapper {
    display: none;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    width: 100%;
    background: var(--surface-color);
    color: var(--surface-contrast);
}

@media (min-width: $large) {
    .imageWrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--background-color);
        color: var(--background-contrast);
    }

    .imageTitle {
        margin-top: -100px;
        padding-bottom: 16px;
        width: 300px;
    }

    .form {
        flex: 1;
        justify-content: center;
    }

    .image {
        width: 300px;
    }
}
