@import "src/variables";

.image {
    display: none;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.halfItem {
    flex: 1;
}

@media (min-width: $medium) {
    .image {
        display: block;
        background: var(--primary-color);
    }
}
