@import "~pikaday/css/pikaday.css";
@import "src/utils";

.pika-single {
    color: var(--primary-text-on-card);
    background: var(--card-background);

    border: none;

    &.is-bound {
        @include shadow;
        border-radius: 4px;
    }

    width: 260px;
}

.pika-lendar {
    margin: 0;
    padding: 8px;
    width: 100%;
    @include largeShadow;
}

.pika-title {
    padding: 8px;
    color: var(--card-form-header-text);
}

.pika-label {
    font-weight: 700;
    font-size: 12px;
    background: inherit;
}

.pika-prev {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADuSURBVEiJ7ZQ9bsJAEEbf7hrlBCBxAwpcpU7BT0XBEZBCwwmMIqNIbnDDCWgouAENFRQcIFUocgMicgCE8CxpUsfeNRXiq+d7T9pZDTxy91E+pWS2rBnJ1sDp/W348t+s9oLbbAs8A09584ELPE0XVZFsAzSv8GW16ud1Cj9Rmi6qotkC4R+8lYxfv28i8IUXEpSBQ4EdiGYNhCj2VgedJBoci8LB4xe5JldgLD3gkytNLdluOp3XXQReSzZyaU8mo8PNBGUkTqfCR+K05Dge/ogJuij2ChrWVFZ5HfdbFA2OooMO8AGcXfuP3GF+ATW0ZxersqrRAAAAAElFTkSuQmCC");
}

.pika-next {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADqSURBVEiJ7ZQxTgJBFIa/mVliOAAm3oACKk8gUmHiEUyk8QRQQLOJ2Y2JJ7DZwhtQ0ElhrK3cYm8gwRMQ9s3S0e7MsBXy1f/7v2Tey8CZk0fVBZ5fsi+gLSYaxZOHja9AO2QugGtjy1X8+n7ZuMBY7oAfKnpays8kebvyEdQ+EUCaZh3RrIB+BYWR3WA+f/ptTHCMxFkQKnFZ8oHZbPwnJhqiyBV0rWkt6ma8BCFEPuE0zToi5QfQq6CwWt3XzQQv2Wp1E08f140IQsudBMeUg8MORLME+ihyq6Nb3//I5Yq2wLcElJ/5J+wBq45mF+tM8q4AAAAASUVORK5CYII=");
}

.pika-prev,
.pika-next {
    width: 30px;
    height: 30px;
}

.pika-table {
    & th {
        padding: 4px;
    }

    & abbr {
        text-decoration: none;
        font-weight: 500;
        cursor: default;
    }
}

.pika-button {
    background: inherit;
    text-align: center;
    padding: 8px;

    &:hover {
        background: var(--primary-color-light);
        color: var(--primary-color);
    }
}

.is-selected .pika-button {
    background: var(--primary-color);
    color: var(--text-on-primary) !important;
    box-shadow: none;

    &:hover {
        color: var(--text-on-primary);
        background: var(--primary-color);
    }
}

.is-today .pika-button {
    color: var(--primary-color);
}
