@import "src/utils";

$cardPadding: 24px;
$mobileCardPadding: 16px;
$borderRadius: 8px;

.section {
    @include softShadow;
    background: var(--card-background);
    border-radius: $borderRadius;
}

.content {
    padding: 0 $cardPadding $cardPadding $cardPadding;
}

.header {
    padding: $cardPadding;
    color: var(--card-form-header-text);
    background: var(--card-form-header-backgrund);
    margin: 0 0 $cardPadding 0;
    font-size: 16px;
    font-weight: 900;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    h1 {
        margin: 0;
        font-size: 16px;
    }
}

@media (max-width: $medium) {
    .content {
        padding: 0 $mobileCardPadding $mobileCardPadding $mobileCardPadding;
    }
}
