$menuItemHeight: 40;

.menu {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    position: relative;
}

.active {
    &.menuLink {
        font-weight: 500;
        color: var(--nav-solid-color);

        & svg {
            fill: var(--nav-solid-color);
        }
    }
}


.menuLink {
    padding: 0 12px 0 26px;
    height: #{$menuItemHeight}px;

    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-on-light-background);
    transition: font-weight .2s linear;

    & svg {
        width: 20px;
        height: 20px;
        margin-right: 16px;
        fill: var(--text-on-light-background);
    }

    &:hover {
        color: var(--nav-solid-color);

        & svg {
            fill: var(--nav-solid-color);
        }
    }
}

.activeLinkMoving {
    border-radius: 0 24px 24px 0;
    background: var(--nav-light-color);
    width: 100%;
    height: #{$menuItemHeight}px;
    position: absolute;
    z-index: -1;
    transition: top .15s ease-in-out;
}


//noinspection CssInvalidPseudoSelector,CssUnknownProperty
:export {
    menuItemHeight: $menuItemHeight
}
