@import "src/variables";

.wrapper {
    margin-top: 12px;
}

.fieldsWrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: $medium) {
    .fieldsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
    }
}
