.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.singlePosition {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-border-normal);
    background: var(--input-background);
    color: var(--input-text);
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 4px;
    transition: all .2s linear;

    width: 24px;
    height: 24px;
    font-size: 12px;
    cursor: pointer;

    &:focus-within {
        transform: scale(1.1);
        font-weight: bold;
    }

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color-light);
    }

    &.selected {
        background: var(--primary-color-light);
        color: var(--primary-color);
        border-color: var(--primary-color-light);
    }
}

.radio {
    opacity: 0;
    width: 0;
    height: 0;
    position: fixed;
}
