.opponentsForm {
    margin-top: 24px;
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    & > * {
        min-width: 100px;
        margin-left: 8px;
    }
}

h6 {
    color: var(--card-form-header-text);
}
