@import "src/utils";

.content {
    & > * {
        padding: 4px;
    }
}

.listSizeContainer {
    min-height: 268px;
    overflow-y: auto;
}

.boardGameOption {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    @include squareGridItem;
    @include word-wrap;
    @include shadow;
    @include shadowFocus;
    cursor: pointer;
}

.boardGameOptionButton {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    background: transparent;
}

.boardGameOptionsWrapper {
    display: grid;
    --gap: 16px;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $small) {
    .boardGameOptionsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $medium) {
    .boardGameOptionsWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
