@import "../node_modules/@szhsin/react-menu/dist/index.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color);
}

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --gray-100: #1a1a1a;
    --gray-200: #404040;
    --gray-300: #6c718a;
    --gray-400: #d4d4d4;
    --gray-500: #f8f9fc;

    --primary-color: #3e5fb3;
    --primary-color-light: #d9e0f2;
    --primary-color-dark: #345097;
    --primary-contrast: #fff;

    --accent-color: #538688;
    --accent-color-light: #dce7e7;
    --accent-color-dark: #426b6c;
    --accent-contrast: #fff;

    --background-color: #f4f5f9;
    --background-contrast: #1a1f36;

    --surface-color: #fefefe;
    --surface-contrast: #1a1f36;

    --error-color: #cc0033;

    --disabled-color: var(--gray-400);
    --disabled-contrast: var(--gray-300);

    --card-form-header-backgrund: var(--gray-500);
    --card-form-header-text: var(--gray-300);

    --secondary-text-on-card: var(--gray-300);

    --input-border-normal: var(--gray-400);
    --input-border-focus: var(--input-label);
    --input-text: var(--gray-200);
    --input-background: var(--gray-500);
    --input-label: var(--gray-200);

    --control-focus-background: var(--gray-500);

    --win-color: var(--accent-color);
    --defeat-color: var(--accent-color);
}
