* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-color: #4265BD;
    --accent-color: #538688;
    --light-background: #f4f5f9;
    --error-color: #B13D6C;
    --text-on-primary: #fff;
    --text-on-accent: #fff;
    --text-on-light-background: #0b0b0;

    --input-border-focus: var(--accent-color);
    --input-border-normal: #E9EBF4;
    --input-text: #1A3349;
    --input-text-muted: #d2d0d5;
}
