* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--main-background);
}

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary-color: #4265BD;
    --primary-color-light: #D9E0F2;
    --primary-color-dark: #345097;
    --accent-color: #538688;
    --accent-color-light: #dce7e7;
    --accent-color-dark: #426b6c;

    --main-background: #f4f5f9;
    --card-background: #fefefe;
    --table-background: var(--card-background);

    --card-form-header-backgrund: #F8F9FC;
    --card-form-header-text: #83889e;

    --error-color: #cc0033;

    --text-on-primary: #fff;
    --text-on-accent: #fff;
    --text-on-main-background: #1a1f36;
    --text-on-card-background: #1a1f36;
    --secondary-text-on-card: #8898aa;

    --menu-icon-color: #747474;

    --input-border-normal: #e6e8ef;
    --input-border-focus: var(--input-label);
    --input-text: #1A3349;
    --input-text-muted: #d2d0d5;
    --input-background:#f1f3f4;
    --input-label: #87878b;
    --input-min-height: 40px;

    --icon-button-hover-background: #f7f7f7;
    --control-focus-background: #f7f7f7;

    --disabled-background: #ccc;
    --disabled-text-color: #888;

    --nav-solid-color: var(--primary-color);
    --nav-light-color: var(--primary-color-light);

    --win-color: #a79248;
    --defeat-color: #6e248d;
}
