@import "src/variables";

.title {
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;

    & > * {
        margin-top: 4px;
    }
}

.button {
    margin-top: 32px;
}

.footerText {
    text-align: center;
    padding: 16px 0;

    a {
        color: var(--accent-color);
    }
}

.checkUsernameLoader {
    --ring-loader-color: var(--accent-color);
    width: 28px;
}

@media (min-width: $large) {
    .form {
        margin-top: -160px;
    }
}
