.description {
}

.mainText {
    color: var(--surface-contrast);
}

.subText {
    color: var(--secondary-text-on-card);
}

.selectOpponents {
    margin-top: 24px;

    .radioGroup {
        display: flex;
        margin-bottom: 32px;
        width: 100%;

        & > * {
            flex: 1;
            max-width: 280px;
        }
    }

    .selectedOption {
        border-color: var(--primary-color) !important;

        & svg {
            fill: var(--primary-color) !important;
        }
    }
}
