.loadingWrapper {
    position: relative;
    width: 20px;
    height: 20px;
    --ring-loader-color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
}

.dropdownLabel {
    position: absolute;
    font-size: 12px;
    top: -20px;
    left: 4px;
    transform: none;
    font-weight: bold;
    color: var(--input-label);
}

.createLabelDefault {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--card-form-header-text);
    font-size: 12px;
}
