.mediumTitle {
    line-height: 28px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-on-main-background);
}

.boldTitle {
    color: var(--text-on-main-background);
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1.6;
    margin: 0;
}
