@import "src/variables";
@import "src/utils";

.list {
    --gap: 16px;
    display: grid;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}


.searchWrapper {
    width: 100%;
}

.singleItem {
    position: relative;
    @include squareGridItem;

    & > * {
        position: absolute;
        top: 0;
    }
}

.addButton {
    @include largeShadow;
    @include floatingItem;
}


@media (min-width: $small) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $medium) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
    .addButton {
        @include noShadow;
        @include topSpaceItem;
    }

    .searchWrapper {
        @include topSpaceCenterItem;
        width: 50%;
    }
}

@media (min-width: $large) {
    .list {
        --gap: 24px;
        grid-template-columns: repeat(5, 1fr);
    }
}
